/*
	@theme perl Placeholder
	@placeholder perl
*/

@base {
	color: #333;
	background-color: #fff;
}

perl {
	spell-check: disabled;
	color: #333;
	background-color: #fff;
}

perl comment {
  color: #888888;
  /*font-weight: bold;*/
}

perl variable, string.double variable {
	color: #4F9FCF;
	newcolor: #6FBFFF;
}

perl variable > group {
	color: #3482da;
}

perl definition{
	color: #d44950;
}

perl name {
	color: #4f9fcf;
	newcolor: #6fbfff;
}

perl modifier {
	color: #d48080;
}

perl include {
	color: #555;
	background-color: #f8f8f8;
	font-style: italic;
}

perl identifier function {
	color: #699d36;
	font-weight: bold;
}

perl integer {
    color: #6700b9;
	background-color: #fbf2fe;
}

perl string {
    color: #ff00b9;
  	background-color: #fff;
}

perl comment.perlDoc {
    font-weight: normal;
}

perl perlDoc.keyword {
	color: #889;
}

perl perlDoc.formattingCode {
    color: #988;
}

perl perlDoc.markup.underline.link {
   text-decoration: underline;
   color: #889;
}